*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.formatting section{
    display: flex;
    flex: wrap;
    gap: 30px;
}

.work-images{
    display: flex;
    flex-direction: column;
}

.work-image{
    /* display: flex;
    align-items: center; */
    height:auto;
    max-width: 100%;
}

.figcaption{
    display: flex;
    gap: 10px;
    margin-top: 10%;
}


















































.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    /* margin: 15px;  */
    /* this is for outside in terms of free roam land */
    border: 10px solid blue;
    /* this is directly surrounding the object in terms of the fence that surrounds the home separating free land from the property your home sits on */
    padding: 20px;
    /* this is the space inside the object or what it takes up in terms of the actual space that you have between your home and the actual fencing itself */
}

.headers{
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 15px;  */
    /* this is for outside in terms of free roam land */
    /* this is directly surrounding the object in terms of the fence that surrounds the home separating free land from the property your home sits on */
    padding: 20px;
    /* this is the space inside the object or what it takes up in terms of the actual space that you have between your home and the actual fencing itself */
}


.flex{
    display: flex;
    display: inline;
    flex: wrap;
    justify-content: space-between;
}

.header h1{
    color: white;
    display: inline;
    font-size: 30px;
    text-decoration: underline;
}

.header nav ul li{
    display: inline;
    margin-left: 25px;
}

.article-spacing{
margin: 10%;
display: flex;
}

.top-image{
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.left-article{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.space-between{
    padding-top: 15px;
    padding-bottom: 375px;
    text-decoration-style: solid;
    font-size: 35px;
    display: flex;
    display: inline;
}

.right-article{
    display: flex;
    flex-direction: row;
    justify-content: flex end;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



/* .figcaption{
    display: flex;
    flex: wrap;
    justify-content: space-between;
} */